.imga {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgb {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgc {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    height: 170px;
    bottom: -10px;
}
.imgd {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imge {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgf {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgg {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgh {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgi {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgj {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgk {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgl {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgm {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgn {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgo {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgp {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgq {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}
.imgr {
  border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 230px;
    position: relative;
    
    bottom: -10px;
}

